@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,*::after,**::before{
    box-sizing: border-box;
}

body{
    color: #74718b;
    font-family: 'Lato', sans-serif;
}


/* Helper Classes */

.flex{
    display:flex;
}
.flex--center{
    justify-content: center;
    align-items: center;
}

.column--center{
    flex-direction: column;
    justify-content: center;
}

.text-center{
    text-align: center;
}


/* Blocks */

.container{
    display:flex;
    height: 100vh;
}



.img--container{
    flex:1;
    color: #403D4C;
    background-color: #F9F9F9;
    flex-direction: column;
    position: relative;
}

.login--container{
    flex:1; 
}


/* Login */

.hero--left{
   
    max-width: 350px;
    padding: 1rem;
}

.login--button{
    align-items: center;
    background-color: #FF7E10;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    outline: none;
    padding: 1rem .8rem;
    transition: all 0.2s;
    width: 100%;

}

.login--button:hover{
    opacity: .5;
}
.logo--text{
    margin: 1.5rem 0 2rem;
}


/* Info section */


.hero--right{
  
    max-width: 600px;
    padding: 1rem;
}

.img--container img{
    max-width: 450px;
    align-self: center;
}

.image--text{
    font-size: 1.4rem;
    max-width: 42ch;
    line-height: 1.5;
    margin-bottom: 0;
}

.image--subtext{
    color: #5D5A6F;
    padding: 0rem 3rem;
}

.credits{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem; 
    font-size: 1rem;
}

@media screen and (max-width:1000px) {
    .img--container{
        display: none;
    }
}